body 
{
    background-color: beige;
}

.header
{
    font-family: 'Courier New', Courier, monospace;
    background-color: gray;
}

.content 
{
    padding: 16px;
}
  

.sticky 
{
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content 
{
    padding-top: 102px;
}

h1 
{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: justify;
}
  
p 
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

a
{
    font-family: 'Courier New', Courier, monospace;
}